<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        margin: 0;
        padding: 0;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin: 0 0 20px 0;
        font-family: Montserrat, sans-serif;
        font-weight: 600;
        color: #3f3453;
        text-transform: none;
      }
    </style>
  </head>
  <body>
    <div
      class=""
      data-v-be7bbc8c=""
      style="
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
      "
    >
      <div class="logincard" data-v-be7bbc8c="">
        <div class="" data-v-be7bbc8c="">
          <div class="error-body uk-text-center" data-v-be7bbc8c="">
            <h1
              class="error-title uk-text-danger"
              data-v-be7bbc8c=""
              style="color: #f0506e !important; font-size: 60px"
            >
              404
            </h1>
            <h3 class="uk-text-uppercase error-subtitle" data-v-be7bbc8c="">
              PAGE NOT FOUND !
            </h3>
            <p class="uk-text-muted mt-4 mb-4" data-v-be7bbc8c="">
              YOU SEEM TO HAVE BEEN LOST
            </p>
            <a
              href="/"
              class="uk-button uk-button-danger uk-button-rounded waves-effect waves-light mb-5 uk-text-white"
              data-v-be7bbc8c=""
              >Back to home</a
            >
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
