{% extends 'layouts/base.html' %} {% block title %} Faqs {% endblock title %} {% block herosection %}


<!--[banner section ]-->

<div id="banner" class="set-bg" data-bg="/assets/images/banner1.jpg">
    <div class="container">
        <div class="row   ml-b-30">
            <div class="col-lg-10  mrb-30">
                <div class="banner-content">

                    <div class="breadcrumb-area">
                        <h2 class="title text-left">FAQ'S</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">faq</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--[banner ends]-->


{% endblock herosection %} {% block content %}

<section class="section-page mt-5">
    <div class="container">
        <h1 class="section-title"><span>Questions</span>and answers</h1>
        <div class="faq-content">
            <div class="el-f"></div>
            <div class="faq-block">
                <h2 class="faq-block__title">Basic questions</h2>
                <div class="accordion accordion-faq">
                    <div class="accordion-item">
                        <div class="accordion-title">What is the main activity of the company?<span class="accordion-title__arrow"><i class="fa fa-angle-down"></i></span></div>
                        <div class="question-block">
                            <p>We are an international company which deals with traditional and cryptocurrency trading on the international financial markets. Our clients invest in our tariff plans and we use their funds for trading and providing income.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title">Do you have official registration?<span class="accordion-title__arrow"><i class="fa fa-angle-down"></i></span></div>
                        <div class="question-block">
                            <p>Yes, our company is an officially registered enterprise. Our head office is located in London.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title">Who can become your investor?<span class="accordion-title__arrow"><i class="fa fa-angle-down"></i></span></div>
                        <div class="question-block">
                            <p>Every full age person is able to invest regardless of the location, level of income and social status.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title">How can I start investments?<span class="accordion-title__arrow"><i class="fa fa-angle-down"></i></span></div>
                        <div class="question-block">
                            <p>For this, you need to get registered on the site, choose a tariff plan, and make your first deposit.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title">What are your advantages?<span class="accordion-title__arrow"><i class="fa fa-angle-down"></i></span></div>
                        <div class="question-block">
                            <p>Our team includes only professional stuff with not less than 10 years of working experience in the financial sphere. They develop optimal investment projects. High-qualified financial management helps us minimize risks providing
                                our investors with high-income rates.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title">For what has been developed this website?<span class="accordion-title__arrow"><i class="fa fa-angle-down"></i></span></div>
                        <div class="question-block">
                            <p>This website is an international platform which allows users from all over the world make earnings doing investments and contributing company’s development.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title">How many accounts can I have?<span class="accordion-title__arrow"><i class="fa fa-angle-down"></i></span></div>
                        <div class="question-block">
                            <p>A user can have only one account. Administration of the site has a right to ban any additional account with all the money on a balance.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title">In how much time will money get my e-wallet?<span class="accordion-title__arrow"><i class="fa fa-angle-down"></i></span></div>
                        <div class="question-block">
                            <p>Funds will be instantly transferred to your e-wallet after the transaction is confirmed.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="faq-block">
                <h2 class="faq-block__title">INVESTMENT QUESTIONS</h2>
                <div class="accordion accordion-faq">
                    <div class="accordion-item">
                        <div class="accordion-title">What payment systems can I use? <span class="accordion-title__arrow"><i class="fa fa-angle-down"></i></span></div>
                        <div class="question-block">
                            <p>We support the most widely used and universal payment systems: Bitcoin, Litecoin, Ethereum, Payeer, PerfectMoney.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title">What is the currency of the deposit?<span class="accordion-title__arrow"><i class="fa fa-angle-down"></i></span></div>
                        <div class="question-block">
                            <p>It depends on your payment system’s type.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title">What is the deposit amount?<span class="accordion-title__arrow"><i class="fa fa-angle-down"></i></span></div>
                        <div class="question-block">
                            <p>The deposit amount range from 20 USD to 50,000 USD. The sum influences the tariff plan you choose.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title">Can I reinvest my income?<span class="accordion-title__arrow"><i class="fa fa-angle-down"></i></span></div>
                        <div class="question-block">
                            <p>Withdrawing money when a tariff plan has run out is not required. You can instantly reinvest your income in other tariff plans.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title">Can I invest without a deposit?<span class="accordion-title__arrow"><i class="fa fa-angle-down"></i></span></div>
                        <div class="question-block">
                            <p>Depositing is not required. Form your investment due to incomes from participating in the referral programs and use these funds.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title">Is there any risk to lose money?<span class="accordion-title__arrow"><i class="fa fa-angle-down"></i></span></div>
                        <div class="question-block">
                            <p>Investment risks always exist. However, our experts do their best to make the process of investment as safe and profitable as it is possible.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title">Can I use several investment plans?<span class="accordion-title__arrow"><i class="fa fa-angle-down"></i></span></div>
                        <div class="question-block">
                            <p>Yes, you can use one or several investment plans at the same time.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title">What tariff plan is better to choose?<span class="accordion-title__arrow"><i class="fa fa-angle-down"></i></span></div>
                        <div class="question-block">
                            <p>Choose the investment plan according to your preferences, goals, and budget. Each of them has its own advantages and means minimum risks. Use our calculator of income in order to determine the needed amount of funds for investment.
                                It will help you accurately to count the amount of income investing a certain amount of money in a certain investment plan. Also, it can show you the needed amount of funds for getting a certain income rate.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="faq-block">
                <h2 class="faq-block__title">WITHDRAWAL QUESTIONS</h2>
                <div class="accordion accordion-faq">
                    <div class="accordion-item">
                        <div class="accordion-title">What is the minimum withdraw amount?<span class="accordion-title__arrow"><i class="fa fa-angle-down"></i></span></div>
                        <div class="question-block">
                            <p>You can withdraw any amount but not less than 1 USD for fiat and not less than 5 USD for cryptocurrency e-wallets.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title">What is the withdrawn type on the site?<span class="accordion-title__arrow"><i class="fa fa-angle-down"></i></span></div>
                        <div class="question-block">
                            <p>A instant withdrawn type.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title">In how much time will the money reach my e-wallet?<span class="accordion-title__arrow"><i class="fa fa-angle-down"></i></span></div>
                        <div class="question-block">
                            <p>The money will be instantly transferred to your payment system from the moment the transaction was confirmed.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title">On what e-wallet will be money transferred?<span class="accordion-title__arrow"><i class="fa fa-angle-down"></i></span></div>
                        <div class="question-block">
                            <p>The money will be transferred to the wallet from which was made a deposit.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title">Do I have to withdraw money?<span class="accordion-title__arrow"><i class="fa fa-angle-down"></i></span></div>
                        <div class="question-block">
                            <p>No, it is not required. You can reinvest your income to get more profits.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title">In what currency can I withdraw money?<span class="accordion-title__arrow"><i class="fa fa-angle-down"></i></span></div>
                        <div class="question-block">
                            <p>In the currency of the deposit.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title">What to do if the money is not transferred to my e-wallet for a long time?<span class="accordion-title__arrow"><i class="fa fa-angle-down"></i></span></div>
                        <div class="question-block">
                            <p>Contact our support service. Specialists will do their best to solve your problem as soon as it is possible.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title">How often can I withdraw money?<span class="accordion-title__arrow"><i class="fa fa-angle-down"></i></span></div>
                        <div class="question-block">
                            <p>Withdrawn operations are available every day at any time.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="faq-block">
                <h2 class="faq-block__title">REFERRAL PROGRAM</h2>
                <div class="accordion accordion-faq">
                    <div class="accordion-item">
                        <div class="accordion-title">Do you have a referral program?<span class="accordion-title__arrow"><i class="fa fa-angle-down"></i></span></div>
                        <div class="question-block">
                            <p>Yes, on the site is available a three-level referral program. Under which you can provide yourself with passive income getting profits from invited users and those who were invited by them.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title">Who can participate in the referral program?<span class="accordion-title__arrow"><i class="fa fa-angle-down"></i></span></div>
                        <div class="question-block">
                            <p>Participation is accepted for every registered user.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title">How many referral links can I have?<span class="accordion-title__arrow"><i class="fa fa-angle-down"></i></span></div>
                        <div class="question-block">
                            <p>Every user gets only one referral link. Changing it or having several ones, isnt allowed.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title">Can I withdraw my referral income?<span class="accordion-title__arrow"><i class="fa fa-angle-down"></i></span></div>
                        <div class="question-block">
                            <p>Yes, you can regularly withdraw your referral income or form it into investments.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>







{% endblock content %}