 {% extends 'layouts/base.html' %} {% block title %} Partners {% endblock title %} {% block herosection %}

<!--[banner section ]-->

<div id="banner" class="set-bg" data-bg="/assets/images/banner1.jpg">
    <div class="container">
        <div class="row   ml-b-30">
            <div class="col-lg-10  mrb-30">
                <div class="banner-content">

                    <div class="breadcrumb-area">
                        <h2 class="title text-left">Partners</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Partners</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--[banner ends]-->


{% endblock herosection %} {% block content %}

<section class="section-page mt-5">
    <div class="container">

        <h1 class="section-title"><span>Referral </span>program</h1>
        <div class="section-text" data-aos="fade-up">
            <p>Participate in our three-level referral program and provide yourself with additional income by inviting new investors on the site. Share your link and get 7% of deposits of those who have followed it, registered and made the first deposit.
                Also, you get 1% of deposits of those who were invited by your friends and 1% from the third level of the system.
            </p>
        </div>
        <div class="section-block">
            <div class="row">
                <div class="col-lg-8">
                    <div class="partners-levels">
                        <div class="levels-scale">
                            <div class="progress-line"><span data-aos="slide-right"></span></div>
                        </div>
                        <div class="levels-list">
                            <div class="level-item">
                                <div class="level-item__point" data-aos="zoom-out" data-aos-delay="100"></div>
                                <div class="level-item__percent" data-aos="zoom-out-left" data-aos-delay="300">7%</div>
                                <div class="level-item__title">1 level</div>
                            </div>
                            <div class="level-item">
                                <div class="level-item__point" data-aos="zoom-out" data-aos-delay="300"></div>
                                <div class="level-item__percent" data-aos="zoom-out-left" data-aos-delay="500">1%</div>
                                <div class="level-item__title">2 level</div>
                            </div>
                            <div class="level-item">
                                <div class="level-item__point" data-aos="zoom-out" data-aos-delay="500"></div>
                                <div class="level-item__percent" data-aos="zoom-out-left" data-aos-delay="700">1%</div>
                                <div class="level-item__title">3 level</div>
                            </div>
                        </div>
                    </div>
                    <div class="section-text" data-aos="fade-up">
                        <h3>How it works?</h3>
                        <p>Referral program provided by {{domain}} company us one of the instruments of having profits on the platform. Participation in our referral program allows to receive stable passive income from the invited investors. Also, due to
                            the participation in our referral program, you have an opportunity to start investments without making a deposit. Use the referral commission for investing in our tariff plans without paying any funds.
                        </p>
                        <p>Our referral system includes 3 levels each of which provides profits. Level 1 is your direct referrals, this means those users who have been invited by you personally. Level 2 are users who have been invited by your direct referrals.
                            Level 3 means investors who have entered the platform by the invitation sent by the referrals of the second level. the number of referrals directly influences the level of your income that they will provide. The more investors
                            you invite, the more profits will you have.

                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="program-advantages">
                        <h2 class="section-title"><span>Advantages of </span>the program</h2>
                        <div class="program-advantages-list">
                            <div class="program-advantages-item" data-aos="fade-up">
                                <div class="program-advantages-item__icon ap1--icon"></div>
                                <div class="program-advantages-item__title">Profitable conditions</div>
                                <div class="program-advantages-item__text">We offer our clients a reward equal to 7% of each deposit which is made by your user. The income is also provided by the participants of the second and the third levels of the program. </div>
                            </div>
                            <div class="program-advantages-item" data-aos="fade-up">
                                <div class="program-advantages-item__icon ap2--icon"></div>
                                <div class="program-advantages-item__title">Unlimited opportunities</div>
                                <div class="program-advantages-item__text">In our referral system, there are no restrictions in terms of the number of users. Invite absolutely any number of investors to the platform and multiply your income.</div>
                            </div>
                            <div class="program-advantages-item" data-aos="fade-up">
                                <div class="program-advantages-item__icon ap3--icon"></div>
                                <div class="program-advantages-item__title">Reliable protection</div>
                                <div class="program-advantages-item__text">Safety of deposits, funds and all the given by our investors information due to multilevel data protection systems such as 2FA, DDoS-guard, etc.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>






{% endblock content %}