{% extends 'layouts/base.html' %} {% load crispy_forms_tags %} {% block title %} Sign In {% endblock title %} {% block herosection %}


<!--[banner section ]-->

<div id="banner" class="set-bg" data-bg="/assets/images/banner1.jpg">
    <div class="container">
        <div class="row   ml-b-30">
            <div class="  mrb-30">
                <div class="banner-content">

                    <div class="breadcrumb-area">
                        <h2 class="title text-left">Forget Password</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Reset password</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--[banner ends]-->

{% endblock herosection %} {% block content %}


<section class="section-page mt-5">
    <div class="container">
        <div class="row  d-flex  justify-content-center">
            <div class="col-lg-6">
                <h5 style="    color: #DA5344;" data-aos="fade-right">Input Your Data:</h5>
                <form action="" class="mt-4" data-aos="zoom-in">
                    <div class="alert alert-success">
                        <strong>Check Your Mail Box For Password Reset Email </strong>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>





{% endblock content %}